<main id="top" class="grain-overlay mesh-gradient">
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap"
    rel="stylesheet"
  />

  <style>
    .font-title {
      font-family: 'Playfair Display', serif;
    }
    .font-body {
      font-family: 'Poppins', sans-serif;
    }
  </style>

  <!-- Card Izquierda -->
  <section class="min-h-screen flex items-center pt-50 pb-30px md:pb-50px px-6 md:px-[64px]">
    <div class="max-w-1280px mx-auto w-full grid grid-cols-1 lg:grid-cols-12 gap-[32px]">
      <div class="lg:col-span-6">
        <h1
          class="text-[32px] md:text-[56px] font-title font-bold text-on-surface leading-tight mb-8"
        >
          Portafolio de Servicios
          <span class="italic text-primary">Proyecto Integrador</span> Programación de Plataformas
          Web
        </h1>
        <h3 class="text-[18px] md:text-[24px] font-body text-on-surface-variant mb-8">
          ICC - Universidad Politécnica Salesiana - 2026
        </h3>

        <div class="flex flex-col sm:flex-row gap-6">
          <a
            class="inline-flex items-center justify-center gap-3 bg-primary text-on-primary px-10 py-5 rounded-full text-sm font-semibold btn-hover-effect uppercase tracking-widest group"
            href="#projects"
          >
            Proyectos Destacados
          </a>
          <a
            class="inline-flex items-center justify-center gap-3 glass border border-outline-variant text-on-surface px-10 py-5 rounded-full text-sm font-semibold btn-hover-effect uppercase tracking-widest"
            href="#contact"
          >
            Contacto
          </a>
        </div>
      </div>

      <!-- Card Derecha - Perfil -->
      <div class="lg:col-span-6 ">
        <div
          class="glass flex flex-col md:flex-row overflow-hidden rounded-xl border border-outline-variant/30 shadow-xl shadow-tertiary/5"
        >
          <div class="md:w-1/2 h-80 md:h-auto overflow-hidden">
            <img
              alt="Carolina Fortmann"
              class="w-full h-full object-cover grayscale hover:grayscale-0 transition-all duration-700"
              src="/img-perfil.jpeg"
            />
          </div>
          <div class="md:w-1/2 p-10 flex flex-col justify-center">
            <h3 class="font-title text-[42px] leading-tight mb-2">Carolina Fortmann</h3>
            <p class="text-sm font-semibold text-primary uppercase tracking-widest mb-6">
              Estudiante de 5to Ciclo
            </p>
            <p class="text-base text-on-surface-variant mb-8 italic">
              "Blending high-fashion editorial aesthetics with technical rigor to build memorable
              digital products."
            </p>

            <!-- Idiomas -->
            <div class="grid grid-cols-3 gap-4 mb-6 text-center">
              <div>
                <img src="/ec-flag.png" alt="Español" class="w-8 h-6 mx-auto mb-2" />
                <p class="text-sm font-semibold">Español</p>
                <p class="text-xs text-on-surface-variant">Nativo</p>
              </div>
              <div>
                <img src="/usa-flag.png" alt="English" class="w-8 h-6 mx-auto mb-2" />
                <p class="text-sm font-semibold">English</p>
                <p class="text-xs text-on-surface-variant">Avanzado</p>
              </div>
              <div>
                <img src="/deu-flag.png" alt="Deutsch" class="w-8 h-6 mx-auto mb-2" />
                <p class="text-sm font-semibold">Deutsch</p>
                <p class="text-xs text-on-surface-variant">Intermedio</p>
              </div>
            </div>

            <button
              routerLink="/developers"
              routerLinkActive="text-primary border-b-2 border-primary pb-1"
              class="bg-primary text-on-primary py-3 px-6 rounded-full text-sm font-semibold btn-hover-effect uppercase tracking-widest text-center"
            >
              Ver perfil completo
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Card Central - Especializaciones -->
  <section class="py-[40px] md:py-[60px] px-6 md:px-[64px]">
    <div class="max-w-[1280px] mx-auto">
      <div class="mb-16 text-center max-w-3xl mx-auto">
        <p class="text-sm font-semibold text-primary uppercase tracking-widest mb-4">
          Especializaciones
        </p>

        <h2 class="text-[42px] md:text-[56px] font-title text-on-surface mb-6">
          Servicios & Tecnologías
        </h2>

        <p class="text-lg text-on-surface-variant leading-relaxed">
          Desarrollo de experiencias digitales modernas enfocadas en diseño visual, arquitectura
          frontend y soluciones escalables.
        </p>
      </div>

      <!-- Grid de Especializaciones -->
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
        <!-- Card 1 -->
        <div
          class="glass rounded-[28px] p-8 border border-outline-variant/30 hover:-translate-y-2 transition-all duration-500 shadow-xl shadow-tertiary/5 group"
        >
          <div
            class="w-32 h-16 rounded-2xl bg-primary/10 flex items-center justify-center mb-8 group-hover:bg-primary group-hover:text-white transition-all duration-500"
          >
            <span class="material-symbols-outlined font-semibold text-[25px]"> CODE </span>
          </div>

          <h3 class="font-title text-[28px] mb-4">Frontend Development</h3>

          <p class="text-on-surface-variant leading-relaxed mb-6">
            Interfaces modernas, responsivas e interactivas utilizando Angular, TailwindCSS y
            TypeScript.
          </p>

          <div class="flex flex-wrap gap-2">
            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs"> Angular </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs">
              Tailwind
            </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs">
              TypeScript
            </span>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="glass rounded-[28px] p-8 border border-outline-variant/30 hover:-translate-y-2 transition-all duration-500 shadow-xl shadow-tertiary/5 group"
        >
          <div
            class="w-35 h-16 rounded-2xl bg-primary/10 flex items-center justify-center mb-8 group-hover:bg-primary group-hover:text-white transition-all duration-500"
          >
            <span class="material-symbols-outlined font-semibold text-[25px]"> DATABASE </span>
          </div>

          <h3 class="font-title text-[28px] mb-4">Backend & APIs</h3>

          <p class="text-on-surface-variant leading-relaxed mb-6">
            Diseño de APIs REST, integración de servicios backend y manejo eficiente de bases de
            datos.
          </p>

          <div class="flex flex-wrap gap-2">
            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs">
              Firebase
            </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs">
              Oracle SQL
            </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs"> Strapi </span>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="glass rounded-[28px] p-8 border border-outline-variant/30 hover:-translate-y-2 transition-all duration-500 shadow-xl shadow-tertiary/5 group"
        >
          <div
            class="w-32 h-16 rounded-2xl bg-primary/10 flex items-center justify-center mb-8 group-hover:bg-primary group-hover:text-white transition-all duration-500"
          >
            <span class="material-symbols-outlined font-semibold text-[25px]"> BRUSH </span>
          </div>

          <h3 class="font-title text-[28px] mb-4">UI / UX Design</h3>

          <p class="text-on-surface-variant leading-relaxed mb-6">
            Diseño de interfaces centradas en el usuario con enfoque editorial, minimalista y
            responsive.
          </p>

          <div class="flex flex-wrap gap-2">
            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs"> Figma </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs">
              Responsive
            </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs"> UX </span>
          </div>
        </div>

        <!-- Card 4 -->
        <div
          class="glass rounded-[28px] p-8 border border-outline-variant/30 hover:-translate-y-2 transition-all duration-500 shadow-xl shadow-tertiary/5 group"
        >
          <div
            class="w-35 h-16 rounded-2xl bg-primary/10 flex items-center justify-center mb-8 group-hover:bg-primary group-hover:text-white transition-all duration-500"
          >
            <span class="material-symbols-outlined font-semibold text-[25px]"> TERMINAL </span>
          </div>

          <h3 class="font-title text-[28px] mb-4">Software Engineering</h3>

          <p class="text-on-surface-variant leading-relaxed mb-6">
            Desarrollo de soluciones aplicando arquitectura MVC, programación orientada a objetos y
            buenas prácticas.
          </p>

          <div class="flex flex-wrap gap-2">
            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs"> Java </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs"> MVC </span>

            <span class="px-3 py-1 rounded-full bg-primary/10 text-primary text-xs"> GitHub </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Grid Central - Proyectos -->
  <section class="py-[40px] md:py-[60px] px-6 md:px-[64px] pb-[10px] md:pb-[10px]" id="projects">
    <div class="w-full mx-auto">
      <div class="mb-16 text-center max-w-3xl mx-auto">
        <p class="text-sm font-semibold text-primary uppercase tracking-widest mb-4">
          Proyectos Destacados
        </p>
        <h2 class="text-[48px] font-semibold font-title text-on-surface">¡Hecha un vistazo a mis proyectos!</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[32px]">
        <div
          class="group glass rounded-[32px] border border-outline-variant/30 overflow-hidden shadow-xl shadow-tertiary/"
        >
          <div class="relative overflow-hidden aspect-[16/9]">
            <img
              alt="Luminous UI Project"
              class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuD3Qre9DeEITlZjjzIV1KZR7LUfiw5jWH6TAkmjLajpn1WpMzGT1Hz0Ud80YN8SE9za3sAPuwYNaXWlsdVsDvhjotoyxGzn0j5v0StZ-T3FHfb_5dE8MskVXdt8Vca5-_8Qw8bcTvqzFn07T_DmIgeFRiY7RFm9f3IZThIduDrxaWjvAL3zcLxg-4d0TfflJkKKxxKU3bMTfjHANgkGsNfAv1EzI1-pKb-oRwm1GA6CikG3dEcihWnE7f1a-Nzh_LBtFU1HHZVs39Y"
            />
            <div
              class="absolute inset-0 bg-primary/20 opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex items-center justify-center"
            >
              <span
                routerLink="/projects"
                class="bg-white text-primary px-8 py-3 rounded-full text-sm font-semibold uppercase tracking-widest"
                >más info</span
              >
            </div>
          </div>
          <div class="flex justify-between items-start gap-4 p-8">
            <div>
              <div class="flex gap-2 mb-4">
                <span
                  class="px-3 py-1 bg-primary/10 text-primary bg-secondary-fixed text-on-secondary-fixed rounded-full text-xs font-medium"
                  >Visual Studio Code</span
                >
                <span
                  class="px-3 py-1 bg-primary/10 text-primary bg-secondary-fixed text-on-secondary-fixed rounded-full text-xs font-medium"
                  >Java</span
                >
              </div>
              <h3 class="text-[32px] font-medium mb-2">Laberinto de Algoritmos</h3>
              <p class="text-base text-on-surface-variant">
                Aplicación que implementa un algoritmo para encontrar la ruta óptima desde un punto
                de inicio (A) hasta un punto de destino (B) en un laberinto. Para ello, se utilizan
                conceptos avanzados de programación dinámica y estructuras de datos lineales y no
                lineales.
              </p>
            </div>
            <button
              routerLink="/projects"
              class="shrink-0 w-12 h-12 flex items-center justify-center border border-outline-variant rounded-full text-on-surface hover:bg-primary hover:text-on-primary transition-colors"
            >
              <span class="material-symbols-outlined">ver</span>
            </button>
          </div>
        </div>
        <div
          class="group glass rounded-[32px] border border-outline-variant/30 overflow-hidden shadow-xl shadow-tertiary/"
        >
          <div class="relative overflow-hidden aspect-[16/9]">
            <img
              alt="Vortex Backend Architecture"
              class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuDWpsx8GoM9z0lnWffeMGhuxbHBOg3nF1Kh_yyE7d28mOPoYal1oE2kurAFVNW6MKC3cu0cu3mz-HvR3kC8gRkG0sSJ5VUW7rDlmgsGOWF4H20JcXI5yAejyMFCNpscwMl2Bljf217ByGR8iX4lh9cBNgsCWadMx2jtC3rF4oPEybswT7t_nc3_0FsIVqgw1WHtbv_66RSc9NoS4-TdcfjaO0wmyDN8nFhQz2ckwvGozJDv6yf6Pb2aDlVc8kKY9WKTu2SagiZNCX0"
            />
            <div
              class="absolute inset-0 bg-primary/20 opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex items-center justify-center"
            >
              <span
                routerLink="/projects"
                class="bg-white text-primary px-8 py-3 rounded-full text-sm font-semibold uppercase tracking-widest"
                >más info</span
              >
            </div>
          </div>
          <div class="flex justify-between items-start gap-4 p-8">
            <div>
              <div class="flex gap-2 mb-4">
                <span
                  class="px-3 py-1 bg-primary/10 text-primary bg-secondary-fixed text-on-secondary-fixed rounded-full text-xs font-medium"
                  >Visual Studio Code</span
                >
                <span
                  class="px-3 py-1 bg-primary/10 text-primary bg-secondary-fixed text-on-secondary-fixed rounded-full text-xs font-medium"
                  >JavaScript</span
                >
                <span
                  class="px-3 py-1 bg-primary/10 text-primary bg-secondary-fixed text-on-secondary-fixed rounded-full text-xs font-medium"
                  >HTML</span
                >
              </div>
              <h3 class="text-[32px] font-medium mb-2">Principios de JavaScript</h3>
              <p class="text-base text-on-surface-variant">
                Realizado en Visual Studio Code, este proyecto se centra en la implementación de los principios básicos en JavaScript y HTML. 
                El objetivo es demostrar cómo aplicar estos principios para mejorar la calidad, mantenibilidad y escalabilidad del código en proyectos de desarrollo web. 
              </p>
            </div>
            <button
              class="shrink-0 w-12 h-12 flex items-center justify-center border border-outline-variant rounded-full text-on-surface hover:bg-primary hover:text-on-primary transition-colors"
            >
              <span routerLink="/projects"
              class="material-symbols-outlined">ver</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Grid - Contacto -->
  <section class="py-[60px] md:py-[100px] px-6 md:px-[64px] pb-[40px] md:pb-[40px]" id="contact">
    <div class="max-w-[1280px] mx-auto">
      <div class="mb-16 text-center max-w-3xl mx-auto">
        <p class="text-sm font-semibold text-primary uppercase tracking-widest mb-4">Contacto</p>

        <h2 class="text-[42px] md:text-[56px] font-title text-on-surface mb-6">
          ¡Trabajemos juntos!
        </h2>

        <p class="text-lg text-on-surface-variant leading-relaxed">
          ¿Tienes una idea, proyecto o colaboración en mente? Conectemos y construyamos experiencias
          digitales modernas.
        </p>
      </div>

      <!-- GRID -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-stretch">
        <!-- Imagen de la izquierda -->
        <div
          class="relative overflow-hidden rounded-[32px] border border-outline-variant/30 hover:-translate-y-2 transition-all duration-500 shadow-xl min-h-[650px]"
        >
          <img src="/img-hero2.png" alt="Contact" class="w-full h-full object-cover" />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black/50 via-black/10 to-transparent"
          ></div>
          <div class="absolute bottom-10 left-10 right-10">
            <p class="text-white text-sm uppercase tracking-[0.3em] font-semibold mb-4">
              Frontend • UI/UX • Angular
            </p>

            <h3 class="font-title text-white text-[42px] leading-tight">
              Diseño y desarrollo de experiencias digitales modernas
            </h3>
          </div>
        </div>

        <!-- Card Derecha - Contacto -->
        <div
          class="glass rounded-[32px] border border-outline-variant/30 p-10 hover:-translate-y-2 transition-all duration-500 shadow-xl flex flex-col justify-between"
        >
          <div>
            <p class="text-sm font-semibold text-primary uppercase tracking-widest mb-4">
              Información de contacto
            </p>

            <h3 class="font-title text-[42px] leading-tight mb-6">
              Disponible para proyectos frontend & diseño UI
            </h3>

            <p class="text-on-surface-variant text-lg leading-relaxed mb-10">
              Actualmente enfocada en desarrollo web moderno utilizando Angular, TailwindCSS y
              arquitecturas escalables para aplicaciones interactivas.
            </p>

            <div class="space-y-6">
              <div class="flex items-center gap-4">
                <div class="w-14 h-14 rounded-2xl bg-primary/10 flex items-center justify-center">
                  <span class="material-symbols-outlined text-primary"> mail </span>
                </div>

                <div>
                  <p class="text-sm text-on-surface-variant">Correo electrónico</p>

                  <p class="font-semibold text-on-surface">dfortmann@est.ups.edu.ec</p>
                </div>
              </div>
            </div>
          </div>

          <p class="text-on-surface-variant text-lg leading-relaxed mb-3">
            Rellene el formulario de solicitud de contacto para discutir su proyecto, idea o
            colaboración. ¡Estoy emocionada de conectar con otros entusiastas de la tecnología y
            explorar oportunidades!
          </p>

          <button
            (click)="goToRequest()"
            routerLinkActive="text-primary border-b-2 border-primary pb-1"
            class="bg-primary text-on-primary py-3 px-6 rounded-full text-sm font-semibold btn-hover-effect uppercase tracking-widest text-center"
          >
            Solicitud de contacto
          </button>
        </div>
      </div>
    </div>

    <!-- Botón Volver al Inicio -->
    <div class="flex justify-center mt-16">
      <button
        (click)="scrollToTop()"
        class="text-on-surface hover:text-primary transition-colors flex items-center gap-2 text-sm font-semibold uppercase tracking-widest pb-2 border-b border-on-surface/20"
      >
        Volver al inicio ↑
      </button>
    </div>
  </section>
</main>
